<table class="table table-bordered table-striped table-hover">
  <thead class="">
    <tr>
      <th></th>
      <th>Id</th>
      <th>First Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody class="">
    <tr  *ngFor="let order of orders" (click)="orderSelect(order)">
      <td><button (click)="orderSelect(order.id)">Select</button></td>
      <td>{{order.id}}</td>
      <td>{{order.title}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
<!-- <div class="float-right">
  <button type="button" class="btn btn-secondary">Cancel</button>
  <button type="button" class="btn btn-success" >Save</button>
</div> -->
